<nav class="navbar navbar-light navi fixed-top">
    <div class="container container-fluid">
      <h3 class="nav-title"> <a href="/home" class="link-content">BLOG</a></h3>

      <div class="d-flex">
        <a class="nav-link" href="/home">
          <span class="material-symbols-outlined">home</span>
        </a>
        <a class="nav-link" href="/user/<%= username %>">
          <span class="material-symbols-outlined">person</span>
        </a>
        <a class="nav-link" href="/search">
          <span class="material-symbols-outlined">search</span>
        </a>
      </div>
    </div>
  </nav>