body {
  background-color: #1FAB89;
}

h3 {
  color: black;
}

a {
  text-decoration: none;
}

.home,
.mt-10 {
  padding-top: 4.5rem;
}

.link-content {
  text-decoration: none;
  color: black;
}

.navi {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
}

.content {
  cursor: default;
}

.post-info {
  color: black;
  font-size: small;
}

.material-symbols-outlined {
  color: black;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

.btn-grn {
  color: white;
  background-color: #1FAB89;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.nav-title:hover,
.material-symbols-outlined:hover {
  color: #1FAB89;
}

.content:hover {
  background-color: #1FAB89;
}

.link-content:hover {
  color: rgb(109, 109, 109);
}